body{
    background-color: plum;
    font-family: 'Josefin Sans', sans-serif;
}
.mina-margin-top{
    margin-top: 10px;
}
.mina-bucket{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 150px;
    background-color: black;
    border: 5px solid plum;
    border-radius: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 1em;
    padding-bottom: 1em;  
    color: palevioletred;
    padding: 50px;
}
.mina-bucket:hover{
    background-color: palevioletred;
    color: white;
}
#first-nav{
    background-color: palevioletred;
    border-bottom: 5px solid black;
}
#first-banner{
    background-color: rgb(36, 65, 36);
    color: palevioletred;
    padding-top: 1em;
    padding-bottom: 1em;   
}
#first-banner, p{
    margin-top: 0px;
    margin-bottom: 0px;  
}

#nav-image{
    position: absolute;
    top: 10px;
    left: 60%;
    z-index: 9999;
}
#label{
    background-color: black;
}
#label p{
    color: rgb(255, 23, 23);
}
/* mina row */
#bucket-0 .mina-row{
    width: 70%;
    margin: 0 auto;
}
/* mina bucket */
#news-default .mina-bucket{
    border-top: 0px solid black;
}
#bucket-0 .mina-bucket{
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 20px;
    border-radius: 20px;
    padding: 0px;
    min-height: 80px;
    padding: 15px 0px;
}
#bucket-0 .mina-bucket:hover{
    background-color: palevioletred;
    color: white;
}
#bucket-0 .mina-bucket img{
    width: 30%;
    height: auto;
}
/* Game */
#game{
    margin-top: 350px;
    position: relative;
}
@media (max-width: 1200px) {
    /* mina bucket */
    #bucket-0 .mina-bucket img{
        width: 40%;
        height: auto;
    }
}
@media (max-width: 992px) {
    /* mina bucket */
    #bucket-0 .mina-bucket img{
        width: 60%;
        height: auto;
    }
}
@media (max-width: 768px) {
    /* mina bucket */
    #bucket-0 .mina-bucket{
        width: 50%;
    }
    #bucket-0 .mina-bucket img{
        width: 60%;
        height: auto;
    }
}
@media (max-width: 575px) {
    /* mina bucket */
    #bucket-0 .mina-bucket{
        width: 50%;
    }
    #bucket-0 .mina-bucket img{
        width: 60%;
        height: auto;
    }
}